<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Affecto.Logging" version="2.0.0" targetFramework="net451" />
  <package id="Affecto.Mapping" version="1.0.0" targetFramework="net451" />
  <package id="Affecto.Mapping.AutoMapper" version="1.0.0" targetFramework="net451" />
  <package id="Affecto.WebApi.Toolkit" version="1.6.0" targetFramework="net451" />
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="Autofac.WebApi2" version="3.4.0" targetFramework="net451" />
  <package id="AutoMapper" version="4.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
</packages>